palette/design/plugins/com.bitzing.bw.palette.mqtt.design/schema/MQTTMessageSubscriberSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://www.tibco.com/MQTT/MQTTMessageSubscriber" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/MQTT/MQTTMessageSubscriber">
  <xsd:element name="MQTTMessageSubscriberOutput">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="message" type="xsd:string"/>
        <xsd:element name="topic" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
